*.a
*.orig
.obj/
build/
examples/hello
examples/hello_module
examples/point.so
examples/test_fib
hello.c
microbench
microbench-32
qjs
qjs-debug
qjs32
qjsc
repl.c
run-test262
run-test262-32
run-test262-debug
test262_*.txt
test_fib.c
tests/bjson.so
